<%= form_with model: article do |form| %>
  <%= form.label :title, class: "col-sm-2 col-form-label" %>
  <%= form.text_field :title, class: "form-control" %>
  <%= form.label :body, class: "col-sm-2 col-form-label" %>
  <%= form.text_area :body, class: "form-floating form-control input-width" %>
  <br>
  <%= form.label :status, class: "col-sm-1 col-form-label" %>
  <%= form.select :status, ['public', 'private' , 'archived' ], selected: 'public' , class: "form-floating form-select" %>
  <br>
  <br>
  <div>
    <% if @article.errors.any? %>
      <h5>The following errors prevented the article from being saved:</h5>
      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.submit class:"btn btn-info" %>
  </div>
<% end %>
